
@{
    ViewBag.Title = "Index";

    var currentUser = (Webvnue.Models.MyIdentityUser)ViewData["CurrentUser"];
}

<head>
    <link href="~/Content/accountindex.css" rel="stylesheet" type="text/css" />
</head>
 <div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic" align="center">
                    <img alt="User Pic" src="~/Images/avatar.jpg" class="img-thumbnail img-responsive">


                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <span class="hidden-xs">@currentUser.FirstName @currentUser.LastName</span>
                    </div>
                    <div class="profile-usertitle-job">
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                <span class="hidden-xs">Account Info</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                <span class="hidden-xs">My Referals</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-ok"></i>
                                <span class="hidden-xs">Webvnue Earned</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                <span class="hidden-xs">Referal Link</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                <span class="hidden-xs">Shopping Bag</span>
                            </a>

                        </li>

                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 order-content">

            <div class="form_main col-md-4 col-sm-5 col-xs-7">
                <h4 class="heading"><strong>Personal </strong> Contact <span></span></h4>
                <div class="form">
                    <form action="" method="" id="contactFrm" name="contactFrm">
                        <input type="text" required="" placeholder="Name" value="" name="name" class="txt">
                        <input type="text" required="" placeholder="Email" value="" name="email" class="txt">
                        <input type="password" required="" placeholder="Change Pwd" value="" name="password" class="txt"><br>
                        <button type="button" class="btn btn-default">Update</button>
                    </form>
                </div>
            </div>

        </div>


    </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>







<!--   <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@currentUser.FirstName @currentUser.LastName</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/Images/avatar.jpg" class="img-thumbnail img-responsive"> </div>

                            <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                              <dl>
                                <dt>DEPARTMENT:</dt>
                                <dd>Administrator</dd>
                                <dt>HIRE DATE</dt>
                                <dd>11/12/2013</dd>
                                <dt>DATE OF BIRTH</dt>
                                   <dd>11/12/2013</dd>
                                <dt>GENDER</dt>
                                <dd>Male</dd>
                              </dl>
                            </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td>@currentUser.FirstName @currentUser.LastName</td>
                                        </tr>
                                        <tr>
                                            <td>Username:</td>
                                            <td>@currentUser.UserName</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>@currentUser.BirthDate</td>
                                        </tr>

                                        <tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>@currentUser.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Email Confirmed:</td>
                                            @if (@currentUser.EmailConfirmed == true)
                                            {
                                                <td>Confirmed.</td>
                                            }
                                            else
                                            {
                                                <td>NOT Confirmed.</td>
                                            }
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <a href="#" class="btn btn-primary">My Cock Size</a>
                                <a href="#" class="btn btn-primary">Your Cock Size</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
<div class="video-sexy">

    <iframe width="816" height="459" src="https://www.youtube.com/embed/zpOULjyy-n8?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
    -->