@{
    ViewBag.Title = "Home Page";


    var referrer = (Webvnue.Models.MyIdentityUser)ViewData["Referrer"];
    var Token = (string)ViewData["Token"];



    var currentUser = (Webvnue.Models.MyIdentityUser)ViewData["CurrentUser"];
    var currentUserFollowers = (IEnumerable<Webvnue.Models.MyIdentityUser>) ViewData["Followers"];
}
@model Webvnue.Models.Register


@if (currentUser == null)
{
    <head>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        <link href="/Content/Site.css" type="text/css" rel="stylesheet">
        <title>WEBVNUE</title>
    </head>
    using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken();


        <div class="mainpic">

            <div class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h1><span style="color:darkgrey">WEB</span><span style="color:cornflowerblue">VNUE</span></h1>
                        </div>
                        <div class="col-md-4 col-lg-offset-3">
                            <div class="oswald">SIGN UP TO MAKE MILLIONS TODAY...</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-7">
                            <div class="form-group">
                                @*<input type="text" name="FirstName" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">*@
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-lg", @placeholder = "First Name" })
                                @*@Html.ValidationMessage("FirstName", "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @*<input type="text" name="LastName" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">*@
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-lg", @placeholder = "Last Name" })
                                @*@Html.ValidationMessage("LastName", "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group2">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/KolfEhV-KiA?autoplay=1" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group2">
                                @*<input type="text" name="UserName" id="display_name" class="form-control input-lg" placeholder="Username" tabindex="3">*@
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", @placeholder = "Username" })
                                @*@Html.ValidationMessage("UserName", "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group2">
                                @*<input type="email" name="Email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">*@
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Email Address" })
                                @*@Html.ValidationMessage("Email", "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group2">
                                @*<input type="text" name="BirthDate" id="email" class="form-control input-lg" placeholder="Date of Birth" tabindex="4">*@
                                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control input-lg", @placeholder = "Date of Birth" })
                                @*@Html.ValidationMessage("BirthDate", "", new { @class = "text-danger" })*@
                            </div>
                        </div>




                        <div class="col-md-2 col-md-offset-1">
                            <div class="form-group">
                                @*<input type="password" name="Password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">*@
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password", @type = "password" })
                                @*@Html.ValidationMessage("Password", "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @*<input type="password" name="ConfirmPassword" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">*@
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirm Password", @type = "password" })
                                @*@Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })*@
                            </div>
                        </div>


                        <div class="col-md-4 col-md-offset-1">
                            <div class="tnc">
                                By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a>.
                            </div>
                        </div>


                        <div class="col-md-4 col-md-offset-1"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                    </div>

                    @if (referrer != null)
                    {
                        <input type="hidden" value="@referrer.Id" name="Token" />
                    }
                    else if (Token != null)
                    {
                        <input type="hidden" value="@Token" name="Token" />
                    }

                    <!-- Modal -->
                    <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                                </div>
                                <div class="modal-body">
                                    <p>STEAL MY SHIT AND YOU DIE MOTHER FUCKER.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
        </div>

    }

    @*
        <div class="sharpangle">
            <div class="container">
            <h2>How it works...</h2>
            <p>
                Welcome to Webvnue, I want to keep this short and sweet so i dont lose what little
                fucking retarded attention span you have. If you wanna make money,
                click sign up and register for this website. Then have your friends sign up aswell. Boom you made a million dollars. GG EZ faggot
            </p>
            </div>
        </div>
        <div class="video-sexy">

            <iframe width="900" height="450" src="https://www.youtube.com/embed/n8bCcSi2V4g?autoplay=0" frameborder="0" allowfullscreen></iframe>
        </div>
    *@
}
else
{



    <div class="mainbody container-fluid">
        <div class="row">
            <div style="padding-top:10px;"> </div>
 <!--           <div class="col-md-12">
                <div class="panel panel-default" data-spy="affix" data-offset-top="90">
                    <div class="panel-body">
                        <div class="media">
                            <div align="left">
                                <div class="profilename"> @currentUser.FirstName @currentUser.LastName </div>
                                <img class="img-rounded img-responsive" src="/Home/profileimg/@currentUser.Id" width="200" height="200" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

     -->

          
            
            
              <div class="col-md-offset-3 col-md-6">
                  <br />
                  <br />
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="pull-left">
                        <img class="img-circle" src="https://scontent.forf1-2.fna.fbcdn.net/v/t31.0-8/14242403_1186267638096185_1846690254998461154_o.jpg?oh=e572add9f78576b164d46ec71147e27d&oe=597A0490" width="50" height="50" />
                            
                            <a href="#" class="btn btn-link" style="text-decoration:none;"> Josh Peterson</a>
                        
                        </span>
                      
                          </div>
                    <div class="panel-body">
                        <div class="img-responsive img-thumbnail ratio-4-3" data-toggle="modal" onMouseOver="this.style.cursor='pointer'" data-target="" style="background-image:url('https://i.ytimg.com/vi/v1Yd8g1kV3Y/hqdefault.jpg')">
                        </div>


                        <div class="panel-body">
                           <button class="btn btn-default glyphicon glyphicon-heart">Like</button>
                           <button class="btn btn-default glyphicon glyphicon-retweet">Share</button>
                           <button class="btn btn-default glyphicon glyphicon-comment"></button>
                         
                        </div>


                     </div>
                        <div class="panel-body">

                            <ul>
                                <li>
                                <img class="img-circle" src="https://scontent.forf1-2.fna.fbcdn.net/v/t31.0-8/14242403_1186267638096185_1846690254998461154_o.jpg?oh=e572add9f78576b164d46ec71147e27d&oe=597A0490" width="15" height="15" />
                                <a href="#"><b>Josh Peterson</b></a> : WOW YOU ARE A CUNT<span class="pull-right"><small>1:29pm</small></span></li>
                                <li>
                                <img class="img-circle" src="https://scontent.forf1-2.fna.fbcdn.net/v/t1.0-9/17992240_1719902478024554_5207744693830943800_n.jpg?oh=1e479e0df01658c7c49b343d3213c607&oe=59801FBC" width="15" height="15" />
                                <a href="#"><b>Andy Tran</b></a> : OMG IM FUCKING GAY<span class="pull-right"><small>3:00pm</small></span></li>
                            </ul>
                            <div class="input-group">
                                <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
                                <span class="input-group-btn" onclick="addComment()">
                                    <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</a>
                                </span>
                            </div>






                       </div>
                      </div>
                    </div>

               
        
       
        
                    </div>
               </div>
               foreach(var item in currentUserFollowers)
               {
                   <h1>@item.FirstName @item.LastName</h1>
               }



                }
