
@{
    var currentUser = (Webvnue.Models.MyIdentityUser)ViewData["CurrentUser"];
    //var reflist = (List<Webvnue.Models.MyIdentityUser>)ViewData["ReferralList"];
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var visitedUser = (Webvnue.Models.MyIdentityUser)ViewData["VisitedUser"];
    var visitedUserImages = (IEnumerable<string>)ViewData["VisitedUserImages"];
    var visitedUserImageCount = (int)ViewData["VisitedUserImagesCount"];
    var visitedUserReferralCount = (int)ViewData["VisitedUserReferralListCount"];
    var visitedUserProfileBio = (Webvnue.Models.UserProfileBio)ViewData["VisitedUserProfileBio"];
    var currentUserIsFollowing = (bool)ViewData["CurrentUserIsFollowing"];
    var visitedUserFollowingCount = (int)ViewData["FollowingCount"];
    var visitedUserFollowerCount = (int)ViewData["FollowerCount"];
} 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="mainbody container-fluid">
    <div class="row">

        <div style="padding-top:10px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            @*<img class="thumbnail img-responsive" src="~/Images/avatar.jpg" width="300" height="300">*@
                           <div class="profilename"> @visitedUser.FirstName @visitedUser.LastName </div>
                            <img class="thumbnail img-responsive" src="/Home/profileimg/@visitedUser.Id" width="300" height="300" />
                            <br />
                            @if (currentUser != null)
                            {
                                if (currentUser.Id == visitedUser.Id)
                                {
                                <div id="uploadphotobtn">
                                    <button class="btn btn-success" id="upload-button">Update Profile Photo</button>
                                </div>
                                <div id="uploadphoto" style="display:none;">

                                    @using (Html.BeginForm("UploadProfileImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <span class="span4">
                                            <input type="file" name="uploadImage" multiple="multiple" class="btn btn-upload" />
                                        </span>
                                            <span class="span2">
                                                <input type="submit" name="button" value="Upload" class="btn btn-success" />
                                            </span>
                                    }
                                </div>
                                }
                            }
                        </div>
                        <div class="media-body">
                            <hr>

                                <div class="bio-panel">
                                    <strong>About me</strong>

                                    @if (currentUser != null)
                                    {
                                        if (currentUser.Id == visitedUser.Id)
                                        {
                                            <button class="btn btn-default btn-xs" type="button" id="editbio" title="Edit Info" user-id="@visitedUser.Id">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        }
                                    }


                                   </div>

                            <p id="bio-aboutme">@visitedUserProfileBio.AboutMe</p>
                            <hr>
                            <div class="bio-panel"><strong>Location</strong></div>
                            <p id="bio-location">@visitedUserProfileBio.Location</p>
                            <hr>
                            <div class="bio-panel"><strong>Gender</strong></div>
                            <p id="bio-gender">@visitedUserProfileBio.Gender</p>
                            <hr>
                            <div class="bio-panel"><strong>Quote</strong></div>
                            <p id="bio-quote">@visitedUserProfileBio.Quote</p>

                            @if (currentUser != null)
                            {
                                if (currentUser.Id == visitedUser.Id)
                                {
                                    <div class="updatebio" id="save-user-bio" style="display:none";>
                                        <button class="btn btn-success" id="savebio" type="button" user-id="@visitedUser.Id">Save changes</button>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <span class="pull-left">                        
                        <a href="#" class="btn btn-link" style="text-decoration:none;"> Referrals <span class="badge">@visitedUserReferralCount</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"> Followers <span class="badge">@visitedUserFollowerCount</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"> Following <span class="badge">@visitedUserFollowingCount</span></a>
                    </span>
                    <div class="pull-right">
                        <div class="dropdown">

                            @if (currentUser != null && currentUser.Id != visitedUser.Id)
                            {
                                if (!currentUserIsFollowing)
                                {
                                    <button class="btn btn-primary btn-sm" id="follow-button" user-id="@visitedUser.Id" style="text-decoration:none; font-family:'oswald'"><span class="glyphicon glyphicon-plus"></span> FOLLOW</button>
                                    <button class="btn btn-danger btn-sm" id="unfollow-button" user-id="@visitedUser.Id" style="text-decoration:none; display:none; font-family:'oswald'"><span class="glyphicon glyphicon-minus"></span> UNFOLLOW</button>
                                }
                                else
                                {
                                    <button class="btn btn-danger btn-sm" id="unfollow-button" user-id="@visitedUser.Id" style="text-decoration:none; font-family:'oswald'"><span class="glyphicon glyphicon-minus"></span> UNFOLLOW</button>
                                    <button class="btn btn-primary btn-sm" id="follow-button" user-id="@visitedUser.Id" style="text-decoration:none; display:none; font-family:'oswald'"><span class="glyphicon glyphicon-plus"></span> FOLLOW</button>

                                }                            


                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">                                                                
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                <li><a href="#"><span class="glyphicon glyphicon-remove-sign"></span> Block User</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Report User</a></li>                                
                            </ul>
                        }
                        </div>
                    </div>
                </div>
            </div>


            @if (currentUser != null)
            {
                if (currentUser.Id == visitedUser.Id)
                {
                    <div class="navbar-left">
                        <button class="btn btn-link" type="button" id="upload-mainbtn"><span class="glyphicon glyphicon-camera"></span> Upload photos</button>
                    </div>
                    <div id="uploadmainphoto" style="display:none;">

                        @using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <span>
                                <input type="file" name="uploadMainImage" multiple="multiple" class="btn btn-upload" />
                            </span>
                            <span>
                                 <input type="submit" name="button" value="Upload" class="btn btn-success" />
                            </span>
                        }
                    </div>
                }
            }
    
            
    <!--   SORT BY DROP DOWN
        
            <div class="navbar-right">
                <div class="dropdown">
                    <button class="btn btn-default btn-md dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        SORT BY
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Most Recent</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Highest Rated</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Most Viewed</a></li>
                    </ul>
                </div>
              </div>
          -->

           <br />
            <hr />

            <ul class="row">
                               
                
                
                 @foreach (var imageid in visitedUserImages)
                                {

                 <li class="col-lg-4 col-md-4 col-sm-6">


                     

                <!--         <a href="/Home/photo/@imageid" data-toggle="modal" data-target="#@imageid"> -->
                       <div class="img-responsive img-thumbnail ratio-4-3" data-toggle="modal" onMouseOver="this.style.cursor='pointer'" data-target="#@imageid" style="background-image:url('/Home/showImage/@imageid')">
                            

                  </div>

                     @if (currentUser.Id == visitedUser.Id)
                     {
                         <div class="navbar-right" style="position:absolute;top:5px;right:20px">
                             <div class="dropdown">
                                 <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dd2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                     <span class="caret"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="dd2" style="float: right;">
                                     <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit Photo</a></li>
                                     <li><a href="/Home/deletephoto/@imageid"><span class="glyphicon glyphicon-trash"></span> Delete Photo</a></li>
                                 </ul>
                             </div>
                         </div>
                     }



                     <div class="modal fade" id="@imageid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                             <div class="container">
                                 <div class="row">
                                     <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                                 <div class="userphoto">
                                                     <div class="img-responsive img-thumbnail">
                                                         <button type="button" class="close" style="position:absolute;right:70px;" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"style="color:red"></span></button>
                                                         <img src="/Home/showImage/@imageid">
                                                     </div>
                                                 </div>




                                                 <!--          <img src="/Home/showImage/@imageid" style="width:500px;height:400px;">  -->
                                             </div>
                                     </div>
                             </div><!-- /.modal-content -->
                         </div><!-- /.modal-dialog -->

                    </li>
                }


            </ul>



           </div>

         </div>
       </div>



