
@{
    var currentUser = (Webvnue.Models.MyIdentityUser)ViewData["CurrentUser"];
    //var reflist = (List<Webvnue.Models.MyIdentityUser>)ViewData["ReferralList"];
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var visitedUser = (Webvnue.Models.MyIdentityUser)ViewData["VisitedUser"];
    var visitedUserImages = (IEnumerable<string>)ViewData["VisitedUserImages"];
    var visitedUserImageCount = (int)ViewData["VisitedUserImagesCount"];
    var visitedUserReferralCount = (int)ViewData["VisitedUserReferralListCount"];
} 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="mainbody container-fluid">
    <div class="row">

        <div style="padding-top:10px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            @*<img class="thumbnail img-responsive" src="~/Images/avatar.jpg" width="300" height="300">*@
                           <div class="profilename"> @visitedUser.FirstName @visitedUser.LastName </div>
                            <img class="thumbnail img-responsive" src="/Home/profileimg/@visitedUser.Id" width="300" height="300" />
                            <br />
                            @if (currentUser != null)
                            {
                                if (currentUser.Id == visitedUser.Id)
                                {
                                <div id="uploadphotobtn">
                                    <button class="btn btn-success" id="upload-button">Update Profile Photo</button>
                                </div>
                                <div id="uploadphoto" style="display:none;">

                                    @using (Html.BeginForm("UploadProfileImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <span class="span4">
                                            <input type="file" name="uploadImage" multiple="multiple" class="btn btn-upload" />
                                        </span>
                                            <span class="span2">
                                                <input type="submit" name="button" value="Upload" class="btn btn-success" />
                                            </span>
                                    }
                                </div>
                                }
                            }
                        </div>
                        <div class="media-body">
                            <hr>
                            <div class="bio-panel"><strong>About me</strong></div>
                            <p>My name is Josh, Lets make some money!</p>
                            <hr>
                            <div class="bio-panel"><strong>Location</strong></div>
                            <p>Virginia Beach, VA</p>
                            <hr>
                            <div class="bio-panel"><strong>Gender</strong></div>
                            <p>Male</p>
                            <hr>
                            <div class="bio-panel"><strong>Birthday</strong></div>
                            <p>@visitedUser.BirthDate.Month/@visitedUser.BirthDate.Day/@visitedUser.BirthDate.Year</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--         <span>  -->
                    <!--              <div class="dropdown pull-right">
                                       <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                           Friends
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                           <li><a href="#">Familly</a></li>
                                           <li><a href="#"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Friends</a></li>
                                           <li><a href="#">Work</a></li>
                                           <li role="separator" class="divider"></li>
                                           <li><a href="#"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add a new aspect</a></li>
                                       </ul>
                                   </div>-->
                    <!--  </span> -->
                    <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Photos <span class="badge">@visitedUserImageCount</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Referrals <span class="badge">@visitedUserReferralCount</span></a>
                    </span>
                    <span class="pull-right">
                        <a href="#" class="btn btn-primary" style="text-decoration:none; font-family:'oswald'"><span class="glyphicon glyphicon-envelope"></span> Message</a>
                        <a href="#" class="btn btn-danger" style="text-decoration:none; font-family:'oswald'"><span class="glyphicon glyphicon-warning-sign"></span> Report</a>
                    </span>
                </div>
            </div>
            <hr>

                <!--          <img src="~/Images/djt.jpg" style="float: right; width: 30%; height: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                          <img src="~/Images/avatar.jpg" style="float: inherit; width: 30%; height: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                          <img src="~/Images/makeitrain.jpg" style="float: left; width: 30%; height: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                          <br />
                          <img src="~/Images/a2.jpg" style="float: right; width: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                          <img src="~/Images/a1.jpg" style="float: inherit; width: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                          <img src="~/Images/faq3.jpg" style="float: left; width: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                          <br />
                          <img src="~/Images/avatar.jpg" style="float: right; width: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                          <img src="~/Images/avatar.jpg" style="float: inherit; width: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                          <img src="~/Images/avatar.jpg" style="float: left; width: 30%; margin-right: 3%; margin-bottom: 0.5em;">
                    
                    <div class="col-xs-3 gallery-item">
                        <a href="#galleryImg1" class="link-gallery" data-toggle="modal" data-target="#modalGallery">
                            <img src="~/Images/subscribe.jpeg" class="img-responsive img-gallery" alt="First image">
                        </a>
                    </div> 

                    <div class="col-xs-3 gallery-item">
                        <a href="#galleryImg1" class="link-gallery" data-toggle="modal" data-target="#modalGallery">
                            <img src="~/Images/djt.jpg" class="img-responsive img-gallery" alt="Second image">
                        </a>
                    </div> 

                    <div class="col-xs-3 gallery-item">
                        <a href="#galleryImg1" class="link-gallery" data-toggle="modal" data-target="#modalGallery">
                            <img src="~/Images/avatar.jpg" class="img-responsive img-gallery" alt="Third image">
                        </a>
                    </div>  /.col -->
            @if (currentUser != null)
            {
                if (currentUser.Id == visitedUser.Id)
                {
                    <div class="navbar-left">
                        <button class="btn btn-link" type="button" id="upload-mainbtn"><span class="glyphicon glyphicon-camera"></span> Upload photos</button>
                    </div>
                    <div id="uploadmainphoto" style="display:none;">

                        @using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <span>
                                <input type="file" name="uploadMainImage" multiple="multiple" class="btn btn-upload" />
                            </span>
                            <span>
                                 <input type="submit" name="button" value="Upload" class="btn btn-success" />
                            </span>
                        }
                    </div>
                }
            }
            <div class="navbar-right">
                <div class="dropdown">
                    <button class="btn btn-default btn-md dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        SORT BY
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Most Recent</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Highest Rated</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Most Viewed</a></li>
                    </ul>
                </div>
              </div>
           <br />
            <br />

            <ul class="row">
                               
                
                
                 @foreach (var imageid in visitedUserImages)
                                {

                 <li class="col-lg-4 col-md-4 col-sm-6">
                        <a href="/Home/photo/@imageid" data-toggle="modal" data-target="#@imageid">
                        <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('/Home/showImage/@imageid')"></div>
                        </a>



                     <div class="modal fade" id="@imageid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                         <div class="modal-dialog modal-Md">
                             </div><!-- /.modal-content -->
                         </div><!-- /.modal-dialog -->
                    </li>
                }

                @*
            <li class="col-lg-4 col-md-4 col-sm-6">
                <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('/Images/avatar.jpg')"></div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6">
                <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('/Images/djt.jpg')"></div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://pornhub.com">
                    <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('/Images/makeitrain.jpg')"></div>
                </a>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6">
                <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('https://static.pexels.com/photos/33045/lion-wild-africa-african.jpg')"></div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6">
                <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('http://placehold.it/800x600')"></div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6">
                <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('http://placehold.it/800x600')"></div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6">
                <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('http://placehold.it/800x600')"></div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6">
                <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('http://placehold.it/800x600')"></div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6">
                <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('http://placehold.it/800x600')"></div>
            </li>
                *@
            </ul>








            </div>














        @*


             Simple post content example.
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        <a href="#">
                            <img class="thumbnail img-circle img-responsive" src="/Home/profileimg/@currentUser.Id" width="50" height="60" style="margin-right:8px; margin-top:-5px;">
                        </a>
                    </div>
                    <h4><a href="#" style="text-decoration:none;"><strong>@currentUser.FirstName @currentUser.LastName - </strong></a><a href="#" style="text-decoration:none; color:grey;"></a></h4>
                    <span>
                        <div class="navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">                 
                                    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit Post</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <hr>
                    <div class="post-content">
                        <img class="img-responsive" src="https://media.giphy.com/media/j1QQj6To9Pbxu/giphy.gif">
                        <p>I EAT PUSSY</p>
                    </div>
                    <hr>
                    <div>
                        <div class="pull-right btn-group-xs">
                            <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                            <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                            <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                        </div>
                        <div class="pull-left">
                            <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                        </div>
                        <br>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="thumbnail img-circle img-responsive" src="/Home/profileimg/@currentUser.Id" width="50" height="60" style="margin-left:3px; margin-right:-5px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            
  *@

         </div>
       </div>



